.container--fx30 h1 {
  font-size: 40px;
  line-height: 40px;
  color: #cfcfcf; }

.container--fx30 h2 {
  font-size: 24px;
  line-height: 24px; }

.container--fx30 p {
  font-size: 16px;
  line-height: 28px; }

.support--3j-z {
  height: 50px;
  margin-bottom: 20px; }
  .support--3j-z svg {
    margin-top: -3px; }

.container--fx30 {
  display: block;
  padding: 40px 0 20px; }
  .container--fx30 .title--Ovut {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 24px; }
  .container--fx30 h1 {
    margin-left: 8px; }
    .container--fx30 h1 span {
      display: inline-block; }
    .container--fx30 h1 span:first-child {
      margin-right: 10px;
      color: #61dafb; }
    @media all and (max-width: 1125px) {
      .container--fx30 h1 {
        font-size: 30px; } }
    @media all and (max-width: 1024px) {
      .container--fx30 h1 {
        font-size: 28px; } }
    @media all and (max-width: 535px) {
      .container--fx30 h1 {
        font-size: 26px; } }
    @media all and (max-width: 460px) {
      .container--fx30 h1 {
        font-size: 46px; }
        .container--fx30 h1 span:nth-child(2) {
          display: none; } }
  .container--fx30 h2 {
    margin-bottom: 4px; }
    .container--fx30 h2 strong {
      display: inline-block;
      margin-bottom: 8px;
      margin-right: 8px; }
    .container--fx30 h2 span {
      display: inline-block;
      font-size: 16px;
      font-weight: 500; }
  .container--fx30 p {
    margin-bottom: 20px; }

.container--3Yup {
  display: block;
  padding: 0 40px 60px;
  max-width: calc(100% - (500px - var(--customiser-transform)));
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.005);
  -webkit-transition: width .25s ease-out;
  transition: width .25s ease-out;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch; }
  @media all and (max-width: 600px) {
    .container--3Yup {
      padding: 0 25px 60px; } }

:root {
  --customiser-transform: 0px; }
  @media all and (max-width: 980px) {
    :root {
      --customiser-transform: 500px; } }

.wrapper--1G_B {
  max-width: 800px;
  margin: 0 auto; }

.container--eQO9 {
  display: block; }

.container--2RlU {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 500px;
  padding: 40px 30px;
  background-color: #333;
  overflow-y: scroll;
  -webkit-transform: translateX(var(--customiser-transform));
          transform: translateX(var(--customiser-transform));
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  z-index: 100; }
  .container--2RlU footer {
    padding: 10px 0; }
    .container--2RlU footer p {
      font-size: 14px; }
    .container--2RlU footer a {
      font-weight: bold; }
  .container--2RlU header {
    padding-top: 4px;
    margin-bottom: 20px; }
    .container--2RlU header h2 {
      font-size: 24px;
      margin-bottom: 6px; }
    .container--2RlU header p {
      line-height: 24px; }
  .container--2RlU ul {
    list-style: none;
    margin-bottom: 24px; }
  .container--2RlU h3 {
    font-size: 18px;
    margin-bottom: 4px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
  .container--2RlU li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 8px 0; }
    .container--2RlU li label {
      display: block;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 220px;
              flex: 0 0 220px;
      padding-right: 20px;
      -ms-flex-item-align: start;
          align-self: flex-start; }
    .container--2RlU li > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .container--2RlU li input {
      display: block; }
    .container--2RlU li input[type='range'] {
      width: 120px; }
    .container--2RlU li input[type='color'] {
      width: 80px;
      margin-right: 40px; }
    .container--2RlU li span {
      display: block;
      width: 100px;
      text-align: right;
      font-size: 14px;
      line-height: 21px;
      font-weight: bold;
      text-align: left;
      padding-left: 20px; }

.export--2FMe {
  padding-top: 24px;
  margin-bottom: 36px;
  position: relative; }
  .export--2FMe:before {
    content: '';
    width: 60%;
    height: 1px;
    background-color: #6f6f6f;
    position: absolute;
    top: 0;
    left: 0; }

.untitledSection--1n_M {
  margin-top: -8px; }

.control--RoJH {
  padding-top: 16px; }
  .control--RoJH svg {
    margin-top: -4px; }
  .control--RoJH > a,
  .control--RoJH > button {
    margin-right: 10px; }

.input--SLhX:first-child {
  margin-bottom: 12px; }

.aws-btn--3hgA {
  --button-default-height: 51px;
  --button-default-font-size: 14px;
  --button-default-line-height: 28px;
  --button-default-border-radius: 4px;
  --button-default-placeholder-width: 120px;
  --button-icon-width: 44px;
  --button-icon-height: 44px;
  --button-small-width: 88px;
  --button-small-height: 44px;
  --button-medium-width: 136px;
  --button-medium-height: 44px;
  --button-large-width: 192px;
  --button-large-height: 44px;
  --button-font-family: inherit;
  --button-font-color: #ffffff;
  --button-font-weight: 600;
  --button-font-style: normal;
  --button-hover-darken-opacity: 0.1;
  --button-letter-spacing: 0px;
  --button-horizontal-padding: 20px;
  --button-raise-level: 4px;
  --button-hover-pressure: 1.15;
  --loading-transition-timing: ease-out;
  --loading-transition-speed: 6s;
  --loading-transition-end-speed: 0.3s;
  --transform-speed: 0.175s;
  --button-primary-color: #1e88e5;
  --button-primary-color-dark: #1360a4;
  --button-primary-color-light: white;
  --button-primary-color-hover: #187bd1;
  --button-primary-color-active: #166dba;
  --button-primary-border: none;
  --button-secondary-color: #f2f6f9;
  --button-secondary-color-dark: #1360a4;
  --button-secondary-color-light: #1e88e5;
  --button-secondary-color-hover: #e1eaf1;
  --button-secondary-color-active: #cfdee9;
  --button-secondary-border: none;
  --button-anchor-color: #0e4f88;
  --button-anchor-color-dark: #072743;
  --button-anchor-color-light: white;
  --button-anchor-color-hover: #0d4a7f;
  --button-anchor-color-active: #0c4271;
  --button-anchor-border: none;
  --button-disabled-color: #afafaf;
  --button-disabled-color-dark: #898989;
  --button-disabled-color-light: #969696;
  --button-disabled-color-hover: #afafaf;
  --button-disabled-color-active: #afafaf;
  --button-disabled-border: none;
  --button-placeholder-color: #afafaf;
  --button-placeholder-color-dark: #898989;
  --button-placeholder-color-light: #969696;
  --button-placeholder-color-hover: #afafaf;
  --button-placeholder-color-active: #afafaf;
  --button-placeholder-border: none;
  --button-mail-color: #cfcfcf;
  --button-mail-color-dark: #9c9c9c;
  --button-facebook-color: #4868ad;
  --button-facebook-color-dark: #324877;
  --button-messenger-color: #3186f6;
  --button-messenger-color-dark: #0960d1;
  --button-twitter-color: #00aced;
  --button-twitter-color-dark: #0074a1;
  --button-linkedin-color: #0077b5;
  --button-linkedin-color-dark: #004569;
  --button-whatsapp-color: #25d366;
  --button-whatsapp-color-dark: #1a9247;
  --button-github-color: #25292e;
  --button-github-color-dark: #030304;
  --button-reddit-color: #fc461e;
  --button-reddit-color-dark: #cb2703;
  --button-pinterest-color: #bd091c;
  --button-pinterest-color-dark: #740611;
  --button-gplus-color: #ce5b4e;
  --button-gplus-color-dark: #a3392d;
  --button-youtube-color: #cc181e;
  --button-youtube-color-dark: #881014;
  --button-instagram-radial-color: radial-gradient(circle at 25% 110%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  --button-instagram-radial-color-dark: radial-gradient(circle at 25% 110%, #b9a800 0%, #938500 5%, #b10f00 45%, #8c0061 60%, #002ca9 90%); }

/**
  button-color:
    color-name, (required)
    background, (required)
    darker-background, (required)
    font-color, (required)
    hover-background,
    border,
*/
/**
   button-social-color:
     color-name,
     background,
     darken-background,
     font-color
  */
/**
 button-size: size-name, width, height, font-size, line-height
*/
.aws-btn--3hgA .aws-btn__wrapper--2ViS:before, .aws-btn--3hgA .aws-btn__wrapper--2ViS:after, .aws-btn--3hgA .aws-btn__content--f7bx:after, .aws-btn--progress--2J92 .aws-btn__progress--qEmq:before, .aws-btn--progress--2J92 .aws-btn__progress--qEmq:after, .aws-btn--progress--2J92 .aws-btn__content--f7bx:after {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.aws-btn--3hgA {
  padding: 0;
  margin: 0; }

.aws-btn--3hgA, .aws-btn--3hgA:focus {
  outline-color: 0;
  outline-style: none;
  outline-width: 0; }

.aws-btn--3hgA {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; }

button.aws-btn--3hgA .aws-btn__wrapper--2ViS {
  margin-top: calc(var(--button-raise-level) * -1); }

.aws-btn--3hgA {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  height: var(--button-default-height);
  position: relative;
  z-index: 0;
  background-color: transparent;
  font-size: var(--button-default-font-size);
  line-height: var(--button-default-line-height);
  font-weight: var(--button-font-weight);
  font-family: var(--button-font-family);
  font-style: var(--button-font-style);
  letter-spacing: var(--button-letter-spacing);
  text-rendering: auto;
  text-decoration: none;
  text-align: center;
  -webkit-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
  border: none;
  opacity: 0;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }
  .aws-btn--3hgA .aws-btn__wrapper--2ViS {
    position: relative;
    font-family: var(--button-font-family);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: 100%;
    height: calc(100% - var(--button-raise-level));
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; }
    .aws-btn--3hgA .aws-btn__wrapper--2ViS:before {
      content: ' ';
      border-radius: var(--button-default-border-radius);
      top: auto;
      bottom: calc(var(--button-raise-level) * -1);
      z-index: 1;
      -webkit-transition: background var(--transform-speed) ease-out, -webkit-transform var(--transform-speed) ease-out;
      transition: background var(--transform-speed) ease-out, -webkit-transform var(--transform-speed) ease-out;
      transition: transform var(--transform-speed) ease-out, background var(--transform-speed) ease-out;
      transition: transform var(--transform-speed) ease-out, background var(--transform-speed) ease-out, -webkit-transform var(--transform-speed) ease-out; }
    .aws-btn--3hgA .aws-btn__wrapper--2ViS:after {
      content: ' ';
      background-color: rgba(0, 0, 0, 0.15);
      border-radius: var(--button-default-border-radius);
      z-index: 2;
      width: 0;
      top: var(--button-raise-level); }
  .aws-btn--3hgA .aws-btn__content--f7bx {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: var(--button-default-border-radius);
    text-indent: 0;
    z-index: 1;
    overflow: hidden;
    padding: 0 var(--button-horizontal-padding);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform-style: flat;
            transform-style: flat;
    -webkit-transform: skew(0) translate3d(0, 0, 0);
            transform: skew(0) translate3d(0, 0, 0);
    -webkit-transition: border var(--transform-speed) ease-out, background var(--transform-speed) ease-out, color var(--transform-speed) ease-out, -webkit-transform var(--transform-speed) ease-out;
    transition: border var(--transform-speed) ease-out, background var(--transform-speed) ease-out, color var(--transform-speed) ease-out, -webkit-transform var(--transform-speed) ease-out;
    transition: border var(--transform-speed) ease-out, transform var(--transform-speed) ease-out, background var(--transform-speed) ease-out, color var(--transform-speed) ease-out;
    transition: border var(--transform-speed) ease-out, transform var(--transform-speed) ease-out, background var(--transform-speed) ease-out, color var(--transform-speed) ease-out, -webkit-transform var(--transform-speed) ease-out; }
    .aws-btn--3hgA .aws-btn__content--f7bx > span:nth-child(1) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      -webkit-transform: skew(0) translate3d(0, 0, 0);
              transform: skew(0) translate3d(0, 0, 0); }
      .aws-btn--3hgA .aws-btn__content--f7bx > span:nth-child(1) > svg {
        margin-top: -2px;
        margin-right: 3px; }
  .aws-btn--3hgA:before {
    content: ' ';
    background-color: rgba(0, 0, 0, 0.3);
    width: calc(100% - 2px);
    height: calc(100% - (var(--button-raise-level) * 2));
    bottom: calc(0px - (var(--button-raise-level) / 2));
    left: 1px;
    position: absolute;
    border-radius: var(--button-default-border-radius);
    -webkit-transform: skewY(0) translate3d(0, 0, 0);
            transform: skewY(0) translate3d(0, 0, 0);
    -webkit-transition: background calc(var(--transform-speed) * 0.8) ease-out, -webkit-transform calc(var(--transform-speed) * 0.8) ease-out;
    transition: background calc(var(--transform-speed) * 0.8) ease-out, -webkit-transform calc(var(--transform-speed) * 0.8) ease-out;
    transition: transform calc(var(--transform-speed) * 0.8) ease-out, background calc(var(--transform-speed) * 0.8) ease-out;
    transition: transform calc(var(--transform-speed) * 0.8) ease-out, background calc(var(--transform-speed) * 0.8) ease-out, -webkit-transform calc(var(--transform-speed) * 0.8) ease-out; }
  .aws-btn--facebook--1hX6 .aws-btn__wrapper--2ViS:before {
    background: #324877; }
  .aws-btn--facebook--1hX6 .aws-btn__content--f7bx {
    background: #4868ad;
    color: #FFFFFF; }
    .aws-btn--facebook--1hX6 .aws-btn__content--f7bx path {
      fill: #FFFFFF; }
  .aws-btn--facebook--1hX6.aws-btn--progress--2J92 .aws-btn__content--f7bx > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .aws-btn--facebook--1hX6.aws-btn--progress--2J92 .aws-btn__progress--qEmq:before, .aws-btn--facebook--1hX6.aws-btn--progress--2J92 .aws-btn__progress--qEmq:after {
    color: #FFFFFF; }
  .aws-btn--messenger--uDKm .aws-btn__wrapper--2ViS:before {
    background: #0960d1; }
  .aws-btn--messenger--uDKm .aws-btn__content--f7bx {
    background: #3186f6;
    color: #FFFFFF; }
    .aws-btn--messenger--uDKm .aws-btn__content--f7bx path {
      fill: #FFFFFF; }
  .aws-btn--messenger--uDKm.aws-btn--progress--2J92 .aws-btn__content--f7bx > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .aws-btn--messenger--uDKm.aws-btn--progress--2J92 .aws-btn__progress--qEmq:before, .aws-btn--messenger--uDKm.aws-btn--progress--2J92 .aws-btn__progress--qEmq:after {
    color: #FFFFFF; }
  .aws-btn--twitter--SOE4 .aws-btn__wrapper--2ViS:before {
    background: #0074a1; }
  .aws-btn--twitter--SOE4 .aws-btn__content--f7bx {
    background: #00aced;
    color: #FFFFFF; }
    .aws-btn--twitter--SOE4 .aws-btn__content--f7bx path {
      fill: #FFFFFF; }
  .aws-btn--twitter--SOE4.aws-btn--progress--2J92 .aws-btn__content--f7bx > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .aws-btn--twitter--SOE4.aws-btn--progress--2J92 .aws-btn__progress--qEmq:before, .aws-btn--twitter--SOE4.aws-btn--progress--2J92 .aws-btn__progress--qEmq:after {
    color: #FFFFFF; }
  .aws-btn--linkedin--1YHY .aws-btn__wrapper--2ViS:before {
    background: #004569; }
  .aws-btn--linkedin--1YHY .aws-btn__content--f7bx {
    background: #0077b5;
    color: #FFFFFF; }
    .aws-btn--linkedin--1YHY .aws-btn__content--f7bx path {
      fill: #FFFFFF; }
  .aws-btn--linkedin--1YHY.aws-btn--progress--2J92 .aws-btn__content--f7bx > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .aws-btn--linkedin--1YHY.aws-btn--progress--2J92 .aws-btn__progress--qEmq:before, .aws-btn--linkedin--1YHY.aws-btn--progress--2J92 .aws-btn__progress--qEmq:after {
    color: #FFFFFF; }
  .aws-btn--whatsapp--1hU6 .aws-btn__wrapper--2ViS:before {
    background: #1a9247; }
  .aws-btn--whatsapp--1hU6 .aws-btn__content--f7bx {
    background: #25d366;
    color: #FFFFFF; }
    .aws-btn--whatsapp--1hU6 .aws-btn__content--f7bx path {
      fill: #FFFFFF; }
  .aws-btn--whatsapp--1hU6.aws-btn--progress--2J92 .aws-btn__content--f7bx > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .aws-btn--whatsapp--1hU6.aws-btn--progress--2J92 .aws-btn__progress--qEmq:before, .aws-btn--whatsapp--1hU6.aws-btn--progress--2J92 .aws-btn__progress--qEmq:after {
    color: #FFFFFF; }
  .aws-btn--github--3CUF .aws-btn__wrapper--2ViS:before {
    background: #030304; }
  .aws-btn--github--3CUF .aws-btn__content--f7bx {
    background: #25292e;
    color: #FFFFFF; }
    .aws-btn--github--3CUF .aws-btn__content--f7bx path {
      fill: #FFFFFF; }
  .aws-btn--github--3CUF.aws-btn--progress--2J92 .aws-btn__content--f7bx > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .aws-btn--github--3CUF.aws-btn--progress--2J92 .aws-btn__progress--qEmq:before, .aws-btn--github--3CUF.aws-btn--progress--2J92 .aws-btn__progress--qEmq:after {
    color: #FFFFFF; }
  .aws-btn--reddit--36FS .aws-btn__wrapper--2ViS:before {
    background: #cb2703; }
  .aws-btn--reddit--36FS .aws-btn__content--f7bx {
    background: #fc461e;
    color: #FFFFFF; }
    .aws-btn--reddit--36FS .aws-btn__content--f7bx path {
      fill: #FFFFFF; }
  .aws-btn--reddit--36FS.aws-btn--progress--2J92 .aws-btn__content--f7bx > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .aws-btn--reddit--36FS.aws-btn--progress--2J92 .aws-btn__progress--qEmq:before, .aws-btn--reddit--36FS.aws-btn--progress--2J92 .aws-btn__progress--qEmq:after {
    color: #FFFFFF; }
  .aws-btn--pinterest--2e9l .aws-btn__wrapper--2ViS:before {
    background: #740611; }
  .aws-btn--pinterest--2e9l .aws-btn__content--f7bx {
    background: #bd091c;
    color: #FFFFFF; }
    .aws-btn--pinterest--2e9l .aws-btn__content--f7bx path {
      fill: #FFFFFF; }
  .aws-btn--pinterest--2e9l.aws-btn--progress--2J92 .aws-btn__content--f7bx > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .aws-btn--pinterest--2e9l.aws-btn--progress--2J92 .aws-btn__progress--qEmq:before, .aws-btn--pinterest--2e9l.aws-btn--progress--2J92 .aws-btn__progress--qEmq:after {
    color: #FFFFFF; }
  .aws-btn--gplus--3Pt2 .aws-btn__wrapper--2ViS:before {
    background: #a3392d; }
  .aws-btn--gplus--3Pt2 .aws-btn__content--f7bx {
    background: #ce5b4e;
    color: #FFFFFF; }
    .aws-btn--gplus--3Pt2 .aws-btn__content--f7bx path {
      fill: #FFFFFF; }
  .aws-btn--gplus--3Pt2.aws-btn--progress--2J92 .aws-btn__content--f7bx > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .aws-btn--gplus--3Pt2.aws-btn--progress--2J92 .aws-btn__progress--qEmq:before, .aws-btn--gplus--3Pt2.aws-btn--progress--2J92 .aws-btn__progress--qEmq:after {
    color: #FFFFFF; }
  .aws-btn--youtube--3qb5 .aws-btn__wrapper--2ViS:before {
    background: #881014; }
  .aws-btn--youtube--3qb5 .aws-btn__content--f7bx {
    background: #cc181e;
    color: #FFFFFF; }
    .aws-btn--youtube--3qb5 .aws-btn__content--f7bx path {
      fill: #FFFFFF; }
  .aws-btn--youtube--3qb5.aws-btn--progress--2J92 .aws-btn__content--f7bx > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .aws-btn--youtube--3qb5.aws-btn--progress--2J92 .aws-btn__progress--qEmq:before, .aws-btn--youtube--3qb5.aws-btn--progress--2J92 .aws-btn__progress--qEmq:after {
    color: #FFFFFF; }
  .aws-btn--mail--2w5T .aws-btn__wrapper--2ViS:before {
    background: #9c9c9c; }
  .aws-btn--mail--2w5T .aws-btn__content--f7bx {
    background: #cfcfcf;
    color: #FFFFFF; }
    .aws-btn--mail--2w5T .aws-btn__content--f7bx path {
      fill: #FFFFFF; }
  .aws-btn--mail--2w5T.aws-btn--progress--2J92 .aws-btn__content--f7bx > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .aws-btn--mail--2w5T.aws-btn--progress--2J92 .aws-btn__progress--qEmq:before, .aws-btn--mail--2w5T.aws-btn--progress--2J92 .aws-btn__progress--qEmq:after {
    color: #FFFFFF; }
  .aws-btn--instagram--23lO .aws-btn__wrapper--2ViS:before {
    background: radial-gradient(circle at 25% 110%, #b9a800 0%, #938500 5%, #b10f00 45%, #8c0061 60%, #002ca9 90%); }
  .aws-btn--instagram--23lO .aws-btn__content--f7bx {
    background: radial-gradient(circle at 25% 110%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: #FFFFFF; }
    .aws-btn--instagram--23lO .aws-btn__content--f7bx path {
      fill: #FFFFFF; }
  .aws-btn--instagram--23lO.aws-btn--progress--2J92 .aws-btn__content--f7bx > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .aws-btn--instagram--23lO.aws-btn--progress--2J92 .aws-btn__progress--qEmq:before, .aws-btn--instagram--23lO.aws-btn--progress--2J92 .aws-btn__progress--qEmq:after {
    color: #FFFFFF; }
  .aws-btn--primary--Em0S .aws-btn__wrapper--2ViS:before {
    background: var(--button-primary-color-dark); }
  .aws-btn--primary--Em0S .aws-btn__content--f7bx {
    background: var(--button-primary-color);
    color: var(--button-primary-color-light);
    border: var(--button-primary-border); }
    .aws-btn--primary--Em0S .aws-btn__content--f7bx path {
      fill: var(--button-primary-color-light); }
  .aws-btn--primary--Em0S .aws-btn__wrapper--2ViS:hover .aws-btn__content--f7bx {
    background: var(--button-primary-color-hover); }
  .aws-btn--primary--Em0S.aws-btn--active--1MDt .aws-btn__wrapper--2ViS .aws-btn__content--f7bx {
    background: var(--button-primary-color-active); }
  .aws-btn--primary--Em0S.aws-btn--progress--2J92 .aws-btn__content--f7bx > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .aws-btn--primary--Em0S.aws-btn--progress--2J92 .aws-btn__progress--qEmq:before, .aws-btn--primary--Em0S.aws-btn--progress--2J92 .aws-btn__progress--qEmq:after {
    color: var(--button-primary-color-light); }
  .aws-btn--secondary--iNB_ .aws-btn__wrapper--2ViS:before {
    background: var(--button-secondary-color-dark); }
  .aws-btn--secondary--iNB_ .aws-btn__content--f7bx {
    background: var(--button-secondary-color);
    color: var(--button-secondary-color-light);
    border: var(--button-secondary-border); }
    .aws-btn--secondary--iNB_ .aws-btn__content--f7bx path {
      fill: var(--button-secondary-color-light); }
  .aws-btn--secondary--iNB_ .aws-btn__wrapper--2ViS:hover .aws-btn__content--f7bx {
    background: var(--button-secondary-color-hover); }
  .aws-btn--secondary--iNB_.aws-btn--active--1MDt .aws-btn__wrapper--2ViS .aws-btn__content--f7bx {
    background: var(--button-secondary-color-active); }
  .aws-btn--secondary--iNB_.aws-btn--progress--2J92 .aws-btn__content--f7bx > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .aws-btn--secondary--iNB_.aws-btn--progress--2J92 .aws-btn__progress--qEmq:before, .aws-btn--secondary--iNB_.aws-btn--progress--2J92 .aws-btn__progress--qEmq:after {
    color: var(--button-secondary-color-light); }
  .aws-btn--link--hALX .aws-btn__wrapper--2ViS:before {
    background: var(--button-anchor-color-dark); }
  .aws-btn--link--hALX .aws-btn__content--f7bx {
    background: var(--button-anchor-color);
    color: var(--button-anchor-color-light);
    border: var(--button-anchor-border); }
    .aws-btn--link--hALX .aws-btn__content--f7bx path {
      fill: var(--button-anchor-color-light); }
  .aws-btn--link--hALX .aws-btn__wrapper--2ViS:hover .aws-btn__content--f7bx {
    background: var(--button-anchor-color-hover); }
  .aws-btn--link--hALX.aws-btn--active--1MDt .aws-btn__wrapper--2ViS .aws-btn__content--f7bx {
    background: var(--button-anchor-color-active); }
  .aws-btn--link--hALX.aws-btn--progress--2J92 .aws-btn__content--f7bx > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .aws-btn--link--hALX.aws-btn--progress--2J92 .aws-btn__progress--qEmq:before, .aws-btn--link--hALX.aws-btn--progress--2J92 .aws-btn__progress--qEmq:after {
    color: var(--button-anchor-color-light); }
  .aws-btn--disabled--XACL .aws-btn__wrapper--2ViS:before {
    background: var(--button-disabled-color-dark); }
  .aws-btn--disabled--XACL .aws-btn__content--f7bx {
    background: var(--button-disabled-color);
    color: var(--button-disabled-color-light);
    border: var(--button-disabled-border); }
    .aws-btn--disabled--XACL .aws-btn__content--f7bx path {
      fill: var(--button-disabled-color-light); }
  .aws-btn--disabled--XACL .aws-btn__wrapper--2ViS:hover .aws-btn__content--f7bx {
    background: var(--button-disabled-color-hover); }
  .aws-btn--disabled--XACL.aws-btn--active--1MDt .aws-btn__wrapper--2ViS .aws-btn__content--f7bx {
    background: var(--button-disabled-color-active); }
  .aws-btn--disabled--XACL.aws-btn--progress--2J92 .aws-btn__content--f7bx > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .aws-btn--disabled--XACL.aws-btn--progress--2J92 .aws-btn__progress--qEmq:before, .aws-btn--disabled--XACL.aws-btn--progress--2J92 .aws-btn__progress--qEmq:after {
    color: var(--button-disabled-color-light); }
  .aws-btn--placeholder--12hU .aws-btn__wrapper--2ViS:before {
    background: var(--button-placeholder-color-dark); }
  .aws-btn--placeholder--12hU .aws-btn__content--f7bx {
    background: var(--button-placeholder-color);
    color: var(--button-placeholder-color-light);
    border: var(--button-placeholder-border); }
    .aws-btn--placeholder--12hU .aws-btn__content--f7bx path {
      fill: var(--button-placeholder-color-light); }
  .aws-btn--placeholder--12hU .aws-btn__wrapper--2ViS:hover .aws-btn__content--f7bx {
    background: var(--button-placeholder-color-hover); }
  .aws-btn--placeholder--12hU.aws-btn--active--1MDt .aws-btn__wrapper--2ViS .aws-btn__content--f7bx {
    background: var(--button-placeholder-color-active); }
  .aws-btn--placeholder--12hU.aws-btn--progress--2J92 .aws-btn__content--f7bx > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .aws-btn--placeholder--12hU.aws-btn--progress--2J92 .aws-btn__progress--qEmq:before, .aws-btn--placeholder--12hU.aws-btn--progress--2J92 .aws-btn__progress--qEmq:after {
    color: var(--button-placeholder-color-light); }
  .aws-btn--placeholder--12hU {
    width: var(--button-default-placeholder-width); }
    .aws-btn--placeholder--12hU .aws-btn__content--f7bx > span {
      display: block;
      width: 100%;
      height: 40%;
      background-color: var(--button-placeholder-color-light);
      border-radius: 2px;
      position: relative;
      overflow: hidden; }
      .aws-btn--placeholder--12hU .aws-btn__content--f7bx > span:before {
        content: '';
        background-color: rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-animation: placeholder--5A5J calc(var(--transform-speed) * 14) linear forwards infinite;
                animation: placeholder--5A5J calc(var(--transform-speed) * 14) linear forwards infinite; }
  .aws-btn--visible--1pb7 {
    opacity: 1; }
  .aws-btn--left--1h1x:before {
    -webkit-transform: skewY(calc(1deg * var(--button-hover-pressure) * 1)) translate3d(0, calc(-1px * var(--button-hover-pressure) / 2), 0);
            transform: skewY(calc(1deg * var(--button-hover-pressure) * 1)) translate3d(0, calc(-1px * var(--button-hover-pressure) / 2), 0); }
  .aws-btn--left--1h1x .aws-btn__content--f7bx {
    -webkit-transform: skewY(calc(1deg * var(--button-hover-pressure) * -1));
            transform: skewY(calc(1deg * var(--button-hover-pressure) * -1)); }
  .aws-btn--right--382M:before {
    -webkit-transform: skewY(calc(1deg * var(--button-hover-pressure) * -1)) translate3d(0, calc(-1px * var(--button-hover-pressure) / 2), 0);
            transform: skewY(calc(1deg * var(--button-hover-pressure) * -1)) translate3d(0, calc(-1px * var(--button-hover-pressure) / 2), 0); }
  .aws-btn--right--382M .aws-btn__content--f7bx {
    -webkit-transform: skewY(calc(1deg * var(--button-hover-pressure) * 1));
            transform: skewY(calc(1deg * var(--button-hover-pressure) * 1)); }
  .aws-btn--middle--1Bfa:before {
    -webkit-transform: translate3d(0, calc(-1px * var(--button-hover-pressure)), 0);
            transform: translate3d(0, calc(-1px * var(--button-hover-pressure)), 0); }
  .aws-btn--middle--1Bfa .aws-btn__content--f7bx {
    -webkit-transform: translate3d(0, calc(1px * var(--button-hover-pressure)), 0);
            transform: translate3d(0, calc(1px * var(--button-hover-pressure)), 0); }
  .aws-btn--icon--2BNS .aws-btn__content--f7bx > span:nth-child(1) > svg {
    vertical-align: middle; }
  .aws-btn--active--1MDt:before {
    will-change: transform;
    -webkit-transform: translate3d(0, calc(var(--button-raise-level) * -1), 0);
            transform: translate3d(0, calc(var(--button-raise-level) * -1), 0); }
  .aws-btn--active--1MDt .aws-btn__content--f7bx {
    will-change: transform;
    -webkit-transition: background calc(var(--transform-speed) * 0.8) ease-out, color calc(var(--transform-speed) * 0.8) ease-out, -webkit-transform calc(var(--transform-speed) * 0.8) ease-out;
    transition: background calc(var(--transform-speed) * 0.8) ease-out, color calc(var(--transform-speed) * 0.8) ease-out, -webkit-transform calc(var(--transform-speed) * 0.8) ease-out;
    transition: transform calc(var(--transform-speed) * 0.8) ease-out, background calc(var(--transform-speed) * 0.8) ease-out, color calc(var(--transform-speed) * 0.8) ease-out;
    transition: transform calc(var(--transform-speed) * 0.8) ease-out, background calc(var(--transform-speed) * 0.8) ease-out, color calc(var(--transform-speed) * 0.8) ease-out, -webkit-transform calc(var(--transform-speed) * 0.8) ease-out;
    -webkit-transform: translate3d(0, var(--button-raise-level), 0);
            transform: translate3d(0, var(--button-raise-level), 0); }
  .aws-btn--off--mq7r:before {
    -webkit-transform: translate3d(0, calc(var(--button-raise-level) * -1), 0);
            transform: translate3d(0, calc(var(--button-raise-level) * -1), 0);
    background-color: rgba(0, 0, 0, 0.05); }
  .aws-btn--off--mq7r:hover .aws-btn__wrapper--2ViS:before {
    background-color: #2d2d2d; }
  .aws-btn--off--mq7r:hover .aws-btn__content--f7bx {
    background-color: #313131;
    color: #3b3b3b; }
  .aws-btn--off--mq7r .aws-btn__wrapper--2ViS:before {
    background-color: #323232; }
  .aws-btn--off--mq7r .aws-btn__content--f7bx {
    background-color: #353535;
    color: #424242;
    -webkit-transform: translate3d(0, var(--button-raise-level), 0);
            transform: translate3d(0, var(--button-raise-level), 0); }
  .aws-btn--icon--2BNS {
    width: var(--button-icon-width);
    height: var(--button-icon-height);
    font-size: calc(var(--button-default-font-size) * 1.5);
    line-height: calc(var(--button-default-line-height) * 1.5); }
  .aws-btn--small--kwrI {
    width: var(--button-small-width);
    height: var(--button-small-height);
    font-size: var(--button-default-font-size);
    line-height: var(--button-default-line-height); }
  .aws-btn--medium--3OE9 {
    width: var(--button-medium-width);
    height: var(--button-medium-height);
    font-size: var(--button-default-font-size);
    line-height: var(--button-default-line-height); }
  .aws-btn--large--1ISy {
    width: var(--button-large-width);
    height: var(--button-large-height);
    font-size: var(--button-default-font-size);
    line-height: var(--button-default-line-height); }
  .aws-btn--fill--9YVS {
    width: 100%; }

span.aws-btn__bubble--1HMR {
  display: block;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
  -webkit-animation: bubble-ping--1Zay calc(var(--transform-speed) * 3.5) cubic-bezier(0.5, 0, 0.6, 0.4) 0.05s forwards;
          animation: bubble-ping--1Zay calc(var(--transform-speed) * 3.5) cubic-bezier(0.5, 0, 0.6, 0.4) 0.05s forwards; }

@-webkit-keyframes placeholder--5A5J {
  0% {
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%); }
  25% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); }
  50% {
    -webkit-transform: translateX(110%);
            transform: translateX(110%); }
  75% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); }
  100% {
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%); } }

@keyframes placeholder--5A5J {
  0% {
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%); }
  25% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); }
  50% {
    -webkit-transform: translateX(110%);
            transform: translateX(110%); }
  75% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); }
  100% {
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%); } }

@-webkit-keyframes bounce--2D8a {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  30% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6); }
  60% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4); }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5); } }

@keyframes bounce--2D8a {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  30% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6); }
  60% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4); }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5); } }

@-webkit-keyframes bubble-ping--1Zay {
  1% {
    visibility: visible; }
  10% {
    opacity: 0; }
  50% {
    opacity: 1; }
  99% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; }
  100% {
    visibility: hidden; } }

@keyframes bubble-ping--1Zay {
  1% {
    visibility: visible; }
  10% {
    opacity: 0; }
  50% {
    opacity: 1; }
  99% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; }
  100% {
    visibility: hidden; } }

.aws-btn--progress--2J92 .aws-btn__progress--qEmq {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  text-indent: 0;
  z-index: 3;
  overflow: hidden;
  -webkit-transition: border var(--transform-speed) ease-out, background var(--transform-speed) ease-out, color var(--transform-speed) ease-out, -webkit-transform var(--transform-speed) ease-out;
  transition: border var(--transform-speed) ease-out, background var(--transform-speed) ease-out, color var(--transform-speed) ease-out, -webkit-transform var(--transform-speed) ease-out;
  transition: border var(--transform-speed) ease-out, transform var(--transform-speed) ease-out, background var(--transform-speed) ease-out, color var(--transform-speed) ease-out;
  transition: border var(--transform-speed) ease-out, transform var(--transform-speed) ease-out, background var(--transform-speed) ease-out, color var(--transform-speed) ease-out, -webkit-transform var(--transform-speed) ease-out; }
  .aws-btn--progress--2J92 .aws-btn__progress--qEmq > span {
    -webkit-transition: opacity calc(var(--transform-speed) * 0.5) ease-out calc(var(--transform-speed) * 0.75);
    transition: opacity calc(var(--transform-speed) * 0.5) ease-out calc(var(--transform-speed) * 0.75); }
  .aws-btn--progress--2J92 .aws-btn__progress--qEmq:before, .aws-btn--progress--2J92 .aws-btn__progress--qEmq:after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: rgba(255, 255, 255, 0.65);
    opacity: 0;
    -webkit-transition: opacity calc(var(--transform-speed) * 0.75) ease-out 0.05s, -webkit-transform var(--transform-speed) ease-out 0.05s;
    transition: opacity calc(var(--transform-speed) * 0.75) ease-out 0.05s, -webkit-transform var(--transform-speed) ease-out 0.05s;
    transition: transform var(--transform-speed) ease-out 0.05s, opacity calc(var(--transform-speed) * 0.75) ease-out 0.05s;
    transition: transform var(--transform-speed) ease-out 0.05s, opacity calc(var(--transform-speed) * 0.75) ease-out 0.05s, -webkit-transform var(--transform-speed) ease-out 0.05s; }
  .aws-btn--progress--2J92 .aws-btn__progress--qEmq:before {
    content: attr(data-loading);
    display: none;
    -webkit-transform: translate3d(0, 50%, 0);
            transform: translate3d(0, 50%, 0); }
  .aws-btn--progress--2J92 .aws-btn__progress--qEmq:after {
    content: attr(data-status);
    display: none;
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0); }

.aws-btn--progress--2J92.aws-btn--active--1MDt .aws-btn__progress--qEmq > span {
  opacity: 0.075; }

.aws-btn--progress--2J92.aws-btn--active--1MDt .aws-btn__progress--qEmq:after,
.aws-btn--progress--2J92.aws-btn--active--1MDt .aws-btn__progress--qEmq:before,
.aws-btn--progress--2J92.aws-btn--active--1MDt .aws-btn__content--f7bx:after {
  display: block; }

.aws-btn--progress--2J92 .aws-btn__content--f7bx:after {
  content: " ";
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  width: 100%;
  display: none; }

.aws-btn--start--y-ow .aws-btn__progress--qEmq:before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.aws-btn--start--y-ow .aws-btn__content--f7bx:after {
  -webkit-transition: -webkit-transform var(--loading-transition-speed) ease-out;
  transition: -webkit-transform var(--loading-transition-speed) ease-out;
  transition: transform var(--loading-transition-speed) ease-out;
  transition: transform var(--loading-transition-speed) ease-out, -webkit-transform var(--loading-transition-speed) ease-out;
  -webkit-transform: translate3d(-15%, 0, 0);
          transform: translate3d(-15%, 0, 0); }

.aws-btn--errored--2d6f .aws-btn__content--f7bx:after {
  background-color: rgba(255, 0, 0, 0.75); }

.aws-btn--end--1cdz .aws-btn__content--f7bx:after {
  -webkit-transition: -webkit-transform var(--loading-transition-end-speed) var(--loading-transition-timing);
  transition: -webkit-transform var(--loading-transition-end-speed) var(--loading-transition-timing);
  transition: transform var(--loading-transition-end-speed) var(--loading-transition-timing);
  transition: transform var(--loading-transition-end-speed) var(--loading-transition-timing), -webkit-transform var(--loading-transition-end-speed) var(--loading-transition-timing);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.aws-btn--end--1cdz .aws-btn__progress--qEmq:after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.aws-btn--end--1cdz .aws-btn__progress--qEmq:before {
  -webkit-transform: translate3d(0, 50%, 0);
          transform: translate3d(0, 50%, 0);
  opacity: 0; }

.aws-btn--progress--2J92.aws-btn--secondary--iNB_ .aws-btn__progress--qEmq:before, .aws-btn--progress--2J92.aws-btn--secondary--iNB_ .aws-btn__progress--qEmq:after {
  color: #1e88e5; }

.container--2NY7 {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - (500px - var(--customiser-transform)));
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 6001;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden; }

.show--1Hyr {
  -webkit-animation: popover-enter--2PBw .2s ease-out forwards;
          animation: popover-enter--2PBw .2s ease-out forwards; }
  .show--1Hyr .window--35Vw {
    -webkit-animation: window-enter--3W2Q .478s linear forwards .05s;
            animation: window-enter--3W2Q .478s linear forwards .05s; }

.hide--tHZQ {
  -webkit-animation: popover-exit--2CGx .145s ease-out forwards;
          animation: popover-exit--2CGx .145s ease-out forwards; }

.window--35Vw {
  background-color: #333333;
  padding: 36px;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  opacity: 0;
  max-height: 90%;
  overflow-y: auto; }

.body--1O_P {
  padding: 24px 24px 42px;
  color: #FAFAFA;
  line-height: 23px;
  font-size: 14px;
  font-family: monospace; }
  .body--1O_P p {
    margin-bottom: 2px; }
    .body--1O_P p b {
      color: #a6e22e;
      font-weight: 400; }
  .body--1O_P li {
    list-style: none;
    padding-left: 20px; }
    .body--1O_P li b {
      color: #66d9ef;
      font-weight: 400; }
    .body--1O_P li em {
      font-style: normal; }

.control--2VqP {
  text-align: center; }

@-webkit-keyframes window-enter--3W2Q {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  20% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  40% {
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
    opacity: 1; }
  60% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04); }
  80% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@keyframes window-enter--3W2Q {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  20% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  40% {
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
    opacity: 1; }
  60% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04); }
  80% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes popover-enter--2PBw {
  0% {
    opacity: 0;
    visibility: visible; }
  100% {
    opacity: 1;
    visibility: visible; } }

@keyframes popover-enter--2PBw {
  0% {
    opacity: 0;
    visibility: visible; }
  100% {
    opacity: 1;
    visibility: visible; } }

@-webkit-keyframes popover-exit--2CGx {
  0% {
    opacity: 1;
    visibility: visible; }
  99% {
    opacity: 0; }
  100% {
    opacity: 0;
    visibility: hidden; } }

@keyframes popover-exit--2CGx {
  0% {
    opacity: 1;
    visibility: visible; }
  99% {
    opacity: 0; }
  100% {
    opacity: 0;
    visibility: hidden; } }

.container--3dgz > span, .container--3dgz > span:before {
  border-radius: 50%;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0; }

.container--3dgz {
  --size: 44px;
  --ellipse: calc(var(--size) / 2);
  --circle: calc(var(--ellipse) / 10);
  --speed: 2;
  --background: #61dafb;
  --angle: 66deg;
  display: block;
  height: var(--size);
  position: relative;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: var(--size);
  z-index: 1000; }
  .container--3dgz:before {
    content: ' ';
    background-color: var(--background);
    border-radius: calc(var(--size) / 12);
    display: block;
    height: calc(var(--size) / 6);
    left: calc(50% - (var(--size) / 12));
    position: absolute;
    top: calc(50% - (var(--size) / 12));
    width: calc(var(--size) / 6);
    z-index: 1; }
  .container--3dgz > span {
    width: calc(var(--ellipse) * 2);
    height: calc(var(--ellipse) * 2);
    border: 2.75px var(--background) solid;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; }
    .container--3dgz > span:before {
      content: ' ';
      width: calc(var(--circle) * 2);
      height: calc(var(--circle) * 2);
      -webkit-animation: path--2Q9h linear infinite;
              animation: path--2Q9h linear infinite;
      background: var(--background);
      display: block; }
    .container--3dgz > span:nth-child(1) {
      -webkit-transform: rotateZ(60deg) rotateY(var(--angle));
              transform: rotateZ(60deg) rotateY(var(--angle)); }
      .container--3dgz > span:nth-child(1):before {
        -webkit-animation-duration: 1s;
                animation-duration: 1s; }
    .container--3dgz > span:nth-child(2) {
      -webkit-transform: rotateZ(120deg) rotateY(var(--angle));
              transform: rotateZ(120deg) rotateY(var(--angle)); }
      .container--3dgz > span:nth-child(2):before {
        -webkit-animation-duration: 2s;
                animation-duration: 2s; }
    .container--3dgz > span:nth-child(3) {
      -webkit-transform: rotateZ(180deg) rotateY(var(--angle));
              transform: rotateZ(180deg) rotateY(var(--angle)); }
      .container--3dgz > span:nth-child(3):before {
        -webkit-animation-duration: 3s;
                animation-duration: 3s; }

@-webkit-keyframes path--2Q9h {
  from {
    -webkit-transform: rotateZ(0) translateX(22px) rotateZ(0) rotateY(var(--angle));
            transform: rotateZ(0) translateX(22px) rotateZ(0) rotateY(var(--angle)); }
  to {
    -webkit-transform: rotateZ(360deg) translateX(22px) rotateZ(-360deg) rotateY(var(--angle));
            transform: rotateZ(360deg) translateX(22px) rotateZ(-360deg) rotateY(var(--angle)); } }

@keyframes path--2Q9h {
  from {
    -webkit-transform: rotateZ(0) translateX(22px) rotateZ(0) rotateY(var(--angle));
            transform: rotateZ(0) translateX(22px) rotateZ(0) rotateY(var(--angle)); }
  to {
    -webkit-transform: rotateZ(360deg) translateX(22px) rotateZ(-360deg) rotateY(var(--angle));
            transform: rotateZ(360deg) translateX(22px) rotateZ(-360deg) rotateY(var(--angle)); } }

::-moz-selection {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2); }

::selection {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2); }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #2f2f2f;
  color: #6f6f6f; }

body {
  font-family: lato, tahoma, sans-serif; }

h1,
h2,
h3,
h4,
h5 {
  font-family: montserrat, tahoma, sans-serif;
  font-weight: 700; }

main {
  display: block; }

a {
  color: #8a8a8a; }

nav a {
  --button-font-family: montserrat, tahoma, sans-serif; }

.ribbon--2noy span:first-child {
  margin-right: 8px; }

.ribbon--2noy span:nth-child(2) {
  font-size: 18px; }

.aws-frm--2yWK {
  display: block;
  -webkit-box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.15); }
  .aws-frm__title-bar--2mVl {
    height: 24px;
    width: 100%;
    background-color: #ddd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .aws-frm__title-bar--2mVl p {
      display: block;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      text-align: right;
      font-size: 12px;
      padding-right: 10px; }
    .aws-frm__title-bar__controls--1uo2 {
      padding-left: 10px; }
      .aws-frm__title-bar__controls--1uo2 span {
        height: 12px;
        width: 12px;
        border-radius: 50%;
        margin: 0 2px;
        background-color: red;
        display: inline-block; }
        .aws-frm__title-bar__controls--1uo2 span:nth-child(1) {
          background-color: #ff5f57; }
        .aws-frm__title-bar__controls--1uo2 span:nth-child(2) {
          background-color: #ffbd2e; }
        .aws-frm__title-bar__controls--1uo2 span:nth-child(3) {
          background-color: #28ca41; }

